<div id="nav">
    <a href="/">Main Page</a>
    <a href="/about">about Page</a>
    <a href="/contact">contact Page</a>
    <a href="/menu">menu Page</a>
    <a href="/login">Login Page</a>
</div>
