<%- include('shared/htmlstart') -%>

<button type="button" class="mybutton">My Button</button>


<div id='header'><h1>Bloom</h1></div> 
<% if(showNav == true) { %>
    <%- include('shared/nav') -%>
<% } %>

<hr> 

<h3>MainPage</h3> 

<hr> 


<%- include('shared/nav') -%>
<div id='footer'>bloom@conestogac.on.ca</div>


<%- include('shared/htmlend') -%>