<form action="/signupForm" method="post">
    <input type="text" name="username" placeholder="Username" />
    <br>
    <input type="password" name="password" placeholder="password" />
    <br>
    <button type="submit" class="btn btn-outline-primary">Submit</button>
</form>